{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["airbnb-base", "prettier", "plugin:jest/recommended"],
  "plugins": ["jest", "prettier"],
  "root": true,
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "usePrettierrc": true
      }
    ]
  },
  "env": {
    "jest/globals": true
  }
}
